 /* فرم درخواست  */

html {
  font-family: "yekan";
}
body {
    background-color: beige;
}

.cantioner {
  position: relative;
}
.form {
  background-color: #a3a3a396;
  width: 214px;
  height: 400px;
  padding: 35px;
  margin-right: 40%;
  margin-top: 100px;
  border-radius: 12px;
  box-shadow: 0 0 17px black;
}

.form input {
  height: 30px;
  width: 211px;
  border-radius: 7px;
  border: 1px solid black;
  margin-top: 15px;
}

.form h1 {
  text-align: center;
}

#btn {
  width: 87px;
  height: 31px;
  font-size: 17px;
  border-radius: 9px;
  border: none;
  background-color: #0dca0d;
  color: white;
  margin-top: 60px;
  margin-right: 57px;
}

.eror {
  display: block;
  font-size: 0.9rem;
  color: red;
}

.sabz {
  color: green;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}
