/* دفرتچه مخاطبین  */

html {
  font-family: "yekan";
}

body {
  margin: 20px;
  background: linear-gradient(90deg, blue, white);
}

input,
button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #acacacfa;
  border-radius: 7px;
}

#contactList {
  margin-top: 20px;
}

.list-item {
  position: relative;
  background-color: white;
  padding: 15px;
  margin: 25px;
  display: block;
  width: 226px;
  border-radius: 10px;
  box-shadow: 0px 0px 13px black;
}

#addContact:hover {
  background-color: white;
  border: 1px solid black;
}

.delete-list {
  position: absolute;
  background-color: red;
  top: 0;
  left: 3px;
  width: 37px;
  height: 37px;
}

#bob:hover {
  background-color: white;
  border: 1px solid black;
}
